# Zona Horaria
TZ=America/Mexico_City
GENERIC_TIMEZONE=America/Mexico_City

# Configuración de PostgreSQL
POSTGRES_USER=n8n_user
POSTGRES_PASSWORD=n8n_secure_password
POSTGRES_DB=n8n_db
POSTGRES_PORT=5432

# Configuración de n8n
# NOTA: Cambia esta clave de cifrado por una cadena aleatoria y segura en producción.
N8N_ENCRYPTION_KEY=c0f9a2e6f477610196881c1cde850785f8ab9602e1b12b5bdf3549ee14a5d359

# Modelos de Ollama a descargar automáticamente
OLLAMA_CHAT_MODEL=qwen2.5:1.5b
OLLAMA_EMBED_MODEL=mxbai-embed-large
OLLAMA_MISTRAL_MODEL=mistral:7b
OLLAMA_PHI_MODEL=phi4

# Persistencia de modelos en RAM de Ollama
OLLAMA_KEEP_ALIVE=24h

